.dashboardMainView {
    display: flex;
    height: 100vh;
    margin-top: 10px;
}

.aboutMePartition {
    background-color: #b2cfcd;
    flex: 40; /* Set aboutMePartition to occupy 35% of the available space */
}

.projectPartition {
    background-color: #80afad;
    flex: 60; /* Set projectPartition to occupy 65% of the available space */
}

.profileImageView{
    position: absolute;
    top:60px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.09);
    height: 180px;
    width: 180px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.profileImage{
    height: 160px;
    width: 160px;
    border-radius: 100px;
}

.aboutMeMainView{
    background-color: white;
    height: 100vh;
}

.aboutMeSubView{
    display: flex;
    flex-direction: column;
    padding: 100px 40px 0  40px;
}

.nameText{
    font-size: 30px;
    font-weight: bold;


}
.designationText{
    font-size: 16px;
    color: gray;
    font-weight: bold;
    margin-top: 5px;
}

.rowView{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contactInfoTitle{
    font-size: 16px;
    color: black;
    /*margin: 5px;*/
}
.contactInfoText{
    font-size: 16px;
    color: gray;

    /*margin: 5px;*/
}

